<center><h2>List of the cars</h2></center>

<table class='table'>
  <thead>
  <tr>
    <th>Model</th>
    <th>Sits</th>
    <th>Driver</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @cars.each do |car| %>
      <tr>
        <td><%= car.car_name %></td>
        <td><%= car.sit %></td>
        <td><%= car.driver_name %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<p><%= link_to 'Go to user page', users_path %></p>